<div class="main__container">
  <h1 class="sounds__tittle">EL GOTITO SOUNDS</h1>
  
  <div class="container__divider">
    <div class="side__container"><a  href="./assets/images/el_pelao.jpg" target="_blank"></a></div>
    <div class="button__container">
      <div class="sound__button" *ngFor="let item of soundList">
        <a class="link__sound" (click)="_sound.playSound(item.soundURL)">
          <span class="text__button">{{ item.text }}</span>
        </a>
        <div class="tag__btn" *ngIf="item.tag=='New'; else elseBlock"><span class="top__text">{{item.tag}}</span></div>
        <ng-template #elseBlock><div class="tag__btn" ><span class="new__text">{{ item.tag }}</span></div></ng-template> 
      </div>

    </div>
    <div class="side__container"><a  href="./assets/images/el_gordito.jpg" target="_blank"></a></div>
  </div>
  <div class="fb-comments gotito__fb" data-href="https://ppontetraje.github.io/elgotito-sounds/" data-mobile data-width="" data-numposts="10"></div>
</div>
