@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Pacifico&display=swap');
.main__container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.sounds__tittle{
  display: flex;
  height: 60px;
  font-family: 'Bebas Neue', sans-serif;
  font-weight:  600;
  font-size: 5em;
  text-shadow: -1px -1px white, 1px 1px #333;
  color:#1c84d3;
  align-items: center;
  justify-content: center;
  margin:0;
}
.network__list{
  display: flex;
  gap: 20px;
  color:#092337;
 
}
.fab{
  font-size: 3em;
  text-shadow: -1px -1px rgb(245, 245, 245), 1px 1px rgb(98, 101, 112);
}
.social__network{
  color:#092337;
}
.button__container{
  width: 70%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 45px;
  padding-top: 10px;
}
.container__divider{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.side__container{
  width: 15%;
  /*background-image: url("../../../assets/images/el_pelao.jpg");*/
  background-size: cover;
  position: relative;
  background-position: center;
}
.side__container a{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}
.sound__button{
  display: flex;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: solid 1px transparent;
  background-color: #9CADBC;
  justify-content: center;
  align-items: center;
  position: relative;
}
.tag__btn{
  position: absolute;
  left: 0;
  top: 0;
}
.tag__btn span{
  text-shadow: -1px -1px rgb(68, 68, 68), 1.5px 1.5px rgb(56, 56, 56);
  font-family: 'Oleo Script';
}
.new__text{
  color: yellow;
  
}
.top__text{
  color: rgb(44, 215, 29);
  
}
.hot__text{
  color: orange;
  
}
.link__sound:before {
  
    content: "";
    display: block;
    background: #00111C;
    border-top: 1px solid #9CADBB;
    position: absolute;
    top: -10px;
    left: -10px;
    bottom: -10px;
    right: -10px;
    z-index: -1;
    border-radius: 50%;
    box-shadow: inset 0px 8px 50px #9CADBB;
}
.link__sound{
  width: 100%;
  text-decoration: none;
  height: 100%;
  font-weight: 700;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #394955, inset 0px 2px 3px #fff;
  
  color: 394955;
}
.link__sound:hover{
  cursor: pointer;
}
.link__sound:active {
  box-shadow: 0px 3px 4px #394955 inset, 0px 2px 6px #fff;
}
.text__button{
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #394955;
  font-weight: 300;
  font-size: 1.3em;
}
.text__button:hover{
  
  color: #000;
}
.gotito__fb{
  background-color: rgba(255, 255, 255);

}
/*asdasdad*/

@media only screen and (max-width: 460px) {
  .link__sound:before {

    border-top: 2px solid #ddd;
    top: -6px;
    left: -6px;
    bottom: -6px;
    right: -6px;
    box-shadow: inset 0px 6px 25px #ddd;
}
.sounds__tittle{
  font-weight:  600;
  font-size: 3.2em;
  
}
.fab{
  font-size: 2em;
}
  .button__container{
    width: 90%;
    gap: 30px;
    padding-top: 5px;
  }
  .sound__button{
    width: 80px;
    height: 80px;
  }
  .side__container{
    width: 15%;
    background-size: contain;
    background-position: center;
  }
  .text__button{
    font-size: 1em;
  }
}

@media only screen and (max-width: 1410px) {
  .side__container{
    width: 15%;
    background-size: contain;
    
      background-position: center;
    
  }
}
@media only screen and (max-width: 260px) {

.sounds__tittle{
  font-size: 1.5em !important;
}
}
@media only screen and (max-width: 900px) {
  .side__container{
    background-image: url("../../../assets/images/el_pelao.jpg");
  }
}
@media only screen and (max-width: 570px) {
  .gotito__fb{
    display: none;
  }
  .sounds__tittle{
    font-size: 2.5em;
  }
  }