

<div class="container">
    <h1 class="sounds__tittle">
        EL GOTITO SOUNDS
    </h1>
    <div class="container__divider">
        <div class="side__container"></div>
        <div class="button__container">
        <div class="sound__button" *ngFor="let item of soundList">
            <a class="link__sound" (click)="_sound.playSound(item.soundURL)" >
                <span class="text__button">{{item.text}}</span>
            </a>
        </div>
    </div>
    <div class="side__container"></div>
    </div>
</div>