<head>
  <meta name="title" content="El Gotito Sounds | Descargar Audios de Matthew">
  <meta name="description" content="El Gotito Sounds. Descarga los audios más divertidos de Matthew Dota 2.">
  <meta name="keywords" content="descargar audios de Matthew, El gotito Sounds, descargar sonidos del Gotito,El Gotito, Dota 2, El Gottito">
  <meta name="robots" content="index, follow">
  <meta name="revisit-after" content="7 days">
  <meta property="og:title" content="El Gotito Sounds | Descargar Audios de Matthew">
  <meta property="og:site_name" content="El Gotito Sounds">
  <meta property="og:url" content="https://ppontetraje.github.io/elgotito-sounds/descargar-audios-matthew">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="es" />
  <meta property="og:description" content="El Gotito Sounds. Descarga los audios más divertidos de Matthew Dota 2.">
</head>
<div class="container">
  <h1 class="sounds__tittle">DESCARGAR AUDIOS</h1>
  
  <div class="list__container">
    <div class="sound__button" *ngFor="let item of soundList">
      <span class="text__button">{{ item.text }}</span>
      <a class="link__sound" download={{item.text}} href={{item.soundURL}}>
        <i class="fas fa-arrow-alt-circle-down"></i>
      </a>
    </div>
  </div>
  <div class="fb-comments gotito__fb" data-href="https://ppontetraje.github.io/elgotito-sounds/audios" data-mobile
    data-width="" data-numposts="10">
  </div>
</div>