<div class="menu__nav">
  <div class="menu-bar">
    <a class="nav__list" [routerLink]="['']">El Gotito Sounds</a>

    <a class="social__network" href="https://www.facebook.com/MatthewDota/" target="_blank">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a class="social__network" href="https://twitter.com/MatthewDotaaa" target="_blank">
      <i class="fab fa-twitter"></i>
    </a>
    <a class="social__network" href="https://www.youtube.com/@MatthewDota" target="_blank">
      <i class="fab fa-youtube"></i>
    </a>
    <a class="social__network" href="https://www.instagram.com/matthewdota/" target="_blank">
      <i class="fab fa-instagram"></i>
    </a>
    <a class="nav__list" [routerLink]="['audios']">Descargar Audios</a>
  </div>
</div>