
.menu__nav{
  display: flex;
  justify-content: center;
}


.menu-bar {
	border-radius: 25px;
  	/*background-color: rgba(0, 0, 0, 0.4);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);*/
	row-gap: 8px;
	align-items: center;
	padding: 0 0px;
	margin: 15px 0;
}
.menu-bar	a {
    display: inline-block;
		color: #5de195;
		padding: 12px 16px;
		margin: 0 8px;
		position: relative;
		cursor: pointer;
    text-decoration:none;
    font-size: larger;
  }

.menu-bar	a::before {
			content: " ";
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: -1;
			transition: 0.2s;
			border-radius: 25px;
		}
.menu-bar	a:hover::before {
  background: linear-gradient(to bottom, #5de195, #5de195);
  box-shadow: 0px 3px 20px 0px black;
  transform: scale(1.2);		
		}
  .menu-bar a:hover {
       color: #00031B; 
  }
  
		@media only screen and (max-width: 600px) {

			.menu-bar a{
				display: inline-table;
				font-size: small;
				justify-content: center;
			}
			
			.social__network{
				display: none !important;
			}
		}
		 